* {
    font-family: "Poppins", sans-serif;
    margin:0;
    padding: 0;
  }
  .main_box{
    background: url("photo.jpg");
    height: 100vh;
  }
  .main_box p{
    position: absolute;
    left: 29px;
    top: 685px;
    color: white;
    display: inline;
    padding: 10px;
  }
  .btn_one{
     color:white;
     font-size: 30px;
     font-weight: 700;
     position: absolute;
     left: 16px;
     line-height: 60px;
     cursor: pointer;
  }
  .sidebar_menu{
    position: fixed;
     left: -300px; 
    height: 100%;
    width: 300px;
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
  }
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .btn_two i{
 color: grey;
 font-size: 25px;
 line-height: 60px;
 position: absolute;
 left: 270px;
 /* opacity: 0; */
 cursor: pointer;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right:8px ;
}
.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    top: 660px;
}
.sidebar_menu .social_media i {
  color:white;
  opacity: 0.5;
  padding:0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.btn_one i:hover {
    font-size: 40px;
}
.btn_two i:hover {
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    scale: 1.3;
}

#check:checked ~ .sidebar_menu{
     left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .social_media .btn_two i{
    opacity: 1;
}